.container {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}

.name {
  font-weight: 700;
  margin-right: 20px;
  color: white;
  font-size: 18px;
}
.menu__item {
  color: black;
}

@media screen and (max-width: 500px) {
  .name {
    display: none;
  }
}
